[gdrive_berbek]
type = drive
scope = drive
token = {"access_token":"YOUR_ACCESS_TOKEN","token_type":"Bearer","refresh_token":"YOUR_REFRESH_TOKEN","expiry":"2025-10-10T14:16:59.987788263+07:00"}
team_drive =
